-- Script generated by MySQL Compare 1.0.0.425 on 1/2/2014 3:01:00 PM

SET @ORIGINAL_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @ORIGINAL_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @ORIGINAL_SQL_MODE=@@SQL_MODE, SQL_MODE='ALLOW_INVALID_DATES,NO_AUTO_VALUE_ON_ZERO,NO_AUTO_CREATE_USER';

ALTER TABLE listnms ENGINE = MYISAM;

CREATE INDEX `index_desig` ON `listdata`(`desig`);

DROP TABLE `listdataprops`;

CREATE TABLE `listdataprops` (
  `listdataprop_id` int(11) NOT NULL auto_increment,
  `listdata_id` int(11) NOT NULL DEFAULT '0',
  `column_name` varchar(50) NOT NULL DEFAULT '-',
  `value` varchar(255) NULL,
  PRIMARY KEY (`listdataprop_id`)
) ENGINE=MyISAM;

ALTER TABLE `listnms`
  ADD COLUMN `notes` text NULL;

CREATE INDEX `index_listname` ON `listnms`(`listname`);

CREATE INDEX `index_liststatus` ON `listnms`(`liststatus`);

CREATE FULLTEXT INDEX `listname` ON `listnms`(`listname`);

CREATE FULLTEXT INDEX `listname_2` ON `listnms`(`listname`);

SET FOREIGN_KEY_CHECKS=@ORIGINAL_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@ORIGINAL_UNIQUE_CHECKS;
SET SQL_MODE=@ORIGINAL_SQL_MODE;
